body {
  margin: 0;
  font-family: sans-serif;
}

/* main {
  height: 100vh;
  display: grid;
  grid-template-areas:
    'aside header'
    'aside contenido';
  grid-template-rows: 100px 1fr;
  grid-template-columns: auto 1fr;
} */

main{
  display: flex;
  font-size:17px;
}

aside{
  flex:0;
  float:left;
}

.content{
  flex:1;
  display:flex;
  flex-direction: column;
}

header{
  flex:0;
  margin-top:30px;
  text-align: center;
}

article {
	display:flex;
  flex-direction:column;
  /* grid-area: contenido; */
  background-color: white
}

.footer{
  text-align: center;
  flex:1;
}

.main_content{
  flex:1; 
}

label{
  font-style: italic;
  font-weight: bold;
}

.form-control{
  font-size:17px !important;
}

/* main > * {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header {
  grid-area: header;
  background-color: white
}

aside {
  grid-area: aside;
} */

